header {
display: flex;
/* vertical-align: text-top; */
 
}

/* .ripple {
overflow: hidden;
pointer-events: none;
position: absolute;
z-index: 0;
inset: 0px;
border-radius: inherit;
} */

.navigation {
    display: flex;
/* padding-left: 500px;
padding-right: u; */
justify-content: space-between;
flex-wrap: wrap;
margin: auto;
background-color: lightseagreen;
text-align: left;

}

ul {
    display: flex;
}

.home,
.impact,
.why-us {
padding: 15px 10px;
background-color: blue;
margin-left: 30px;
margin-right: 30px;
font-size: 18px;


}

.home {
border-bottom: 3px solid #e7332b;
}

.hire-talent {
display: inline-block;
background-color: red;
color: white;
padding: 14px 30px;
/* border-color: red; */
margin-top: 30px;

}
